body {
	//  min-height: 75rem;
	padding-top: 145px;
	@media screen and (max-width: 1018px) {
		padding-top: 125px;
	}

	//@include font-light;
	//margin: 1rem;
	
	// backend style
	&#web-FoTemplateSupragBrand{
		padding-top: 0;
		font-size: 1.5rem;
		.btn{
			font-size: 1.5rem;
		}
	}
}
.no-scroll {
	overflow: hidden;
	max-height: 100vh;
}

.fw {
	margin-right: -15px;
	margin-left: -15px;
}
