.btn-outline-primary {
	background-color: $black;
	color: $white;

	&:hover {
		background-color: $gray-dark;
		color: $black;
	}
}

.btn-primary {
	text-transform: uppercase;
	&::before {
		font-family: FontAwesome;
		content: '\f105';
		margin-right: 0.5rem;
	}
	&:hover {
		background-color: $blue-dark;
	}
}
button:focus {
	outline: 0;
}

.btn-outline-secondary {
	background-color: $white;
	color: $red;

	&:hover {
		background-color: $red;
		color: $white;
	}
}

.btn-newsletter {
	background-color: $black;
	transition: none;
	i {
		color: $white;
	}
	&:hover {
		background-color: $blue-dark;
		border: 1px solid $white;
	}
}

#scrollToTop {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	background-color: $gray-dark;
	width: 2rem;
	height: 2rem;
	z-index: 999;
	text-align: center;
	display: none;
	&:before {
		content: '\f106';
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #fff;
		font-size: 18px;
		text-align: center;
		vertical-align: center;
	}
}
.open-menu,
.open-submenu {
	display: none;
}

#close-lightbox {
	position: absolute;
	right: 2.5rem;
	top: 2.5rem;
	background: none;
	border: 0;
}

.btn-red {
	background-color: $red;
	color: white;
	text-transform: uppercase;
	&:hover {
		background-color: $blue-dark;
	}
}

.btn-black {
	background-color: $black;
	color: white !important;
	text-transform: uppercase;
	&:hover {
		background-color: $blue-dark;
	}
}
.cart-actions,
.foshop-baskets-details {
	button {
		border: 0;
		background-color: transparent;
		i {
			font-size: 1.5rem;
		}
		> span.merkliste {
			width: 19px;
			height: 19px;
			margin-top: 4px;
		}
		&:hover {
			cursor: pointer;
			i {
				color: $red;
			}
			span.merkliste {
				@extend .merkliste-red;
				width: 19px;
				height: 19px;
			}
		}
	}
}
