/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

html.with-featherlight {
	/* disable global scrolling when featherlights are visible */
	overflow: hidden;
}

.featherlight {
	display: none;
	/* dimensions: spanning the background from edge to edge */
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483647;
	/* z-index needs to be >= elements on the site. */
	/* position: centering content */
	text-align: center;
	/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
	white-space: nowrap;
	/* styling */
	cursor: pointer;
	background: #333;
	/* IE8 "hack" for nested featherlights */
	background: rgba(0, 0, 0, 0);
	&:last-of-type {
		background: rgba(0, 0, 0, 0.8);
	}
	&:before {
		/* position: trick to center content vertically */
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	.featherlight-content {
		/* make content container for positioned elements (close button) */
		position: relative;
		/* position: centering vertical and horizontal */
		text-align: left;
		vertical-align: middle;
		display: inline-block;
		/* dimensions: cut off images */
		overflow: auto;
		padding: 25px 25px 0;
		//	border-bottom: 25px solid transparent;
		/* dimensions: handling large content */
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;
		/* styling */
		background: #fff;
		cursor: auto;
		/* reset white-space wrapping */
		white-space: normal;
	}
	.featherlight-inner {
		/* make sure its visible */
		display: block;
	}
	script.featherlight-inner,
	link.featherlight-inner,
	style.featherlight-inner {
		display: none;
	}
	.featherlight-close-icon {
		/* position: centering vertical and horizontal */
		position: absolute;
		z-index: 9999;
		top: 0;
		right: 0;
		/* dimensions: 25px x 25px */
		line-height: 25px;
		width: 25px;
		/* styling */
		cursor: pointer;
		text-align: center;
		font-family: Arial, sans-serif;
		background: #fff;
		/* Set the background in case it overlaps the content */
		background: rgba(255, 255, 255, 0.3);
		color: #000;
		border: none;
		padding: 0;
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}
	}
	.featherlight-image {
		/* styling */
		width: 100%;
	}
}

/* support for nested featherlights. Does not work in IE8 (use JS to fix) */

/* contains the content */

/* don't show these though */

/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */

.featherlight-iframe .featherlight-content {
	/* removed the border for image croping since iframe is edge to edge */
	border-bottom: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch;
}

.featherlight {
	iframe {
		/* styling */
		border: none;
	}
	* {
		/* See https://github.com/noelboss/featherlight/issues/42 */
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximize lightbox with for small screens */
		margin-left: 0;
		margin-right: 0;
		max-height: 98%;
		//padding: 10px 10px 0;
		//		border-bottom: 10px solid transparent;
		border: 0;
		overflow: hidden;
	}
}

/* hide non featherlight items when printing */
@media print {
	html.with-featherlight > * > :not(.featherlight) {
		display: none;
	}
}

/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

.featherlight-next {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 3rem;
	span {
		@include centerer($vertical: true);
	}
}

.featherlight-previous {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 3rem;
	span {
		@include centerer($vertical: true);
	}
}
.featherlight-swipe-aware {
	.featherlight-next,
	.featherlight-previous {
		display: none;
	}
}

/* Hide navigation while loading */

.featherlight-loading {
	.featherlight-previous,
	.featherlight-next {
		display: inline-block;
	}
}

/* Hide navigation in case of single image */

.featherlight-first-slide.featherlight-last-slide {
	.featherlight-previous,
	.featherlight-next {
		display: inline-block;
	}
}

/* Always display arrows on touch devices */
@media only screen and (max-device-width: 1024px) {
	.featherlight-next:hover,
	.featherlight-previous:hover {
		background: none;
	}
	.featherlight-next span,
	.featherlight-previous span {
		display: block;
	}
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight-next {
		top: 0;
		right: 10px;
		left: 85%;
	}
	.featherlight-previous {
		top: 0;
		right: 10px;
		left: 85%;
		left: 10px;
		right: 85%;
	}
	.featherlight-next span,
	.featherlight-previous span {
		//		margin-top: -30px;
		font-size: 2rem;
	}
}
