@include mq($from: 1018px) {
  .search-bar {
    //display: none;
    flex-basis: 50%;
    margin-top: 100px;
    margin-left: 1rem;
    margin-right: 1rem;

    .input-group {
      .form-control {
        border: 0;
        background-color: $gray-light;
      }

      a {
        font-family: 'Univers LT 67 CondensedBold';
        font-weight: bold;
        font-style: normal;
        text-transform: uppercase;
        text-align: left;
        color: $white;
        &:hover{
          color: $white;
        }
      }
    }
  }

  a.display-search {
    color: $black;

    &.active {
      color: $red;
    }
  }
}
@include mq($until: 1018px) {
  .search-bar {
    position: absolute;
    top: 70px;
    left: 1rem;
    right: 1rem;

    .input-group {
      .form-control {
        border: 0;
        background-color: $gray-light;
      }

      a {
        font-family: 'Univers LT 67 CondensedBold';
        font-weight: bold;
        font-style: normal;
        text-transform: uppercase;
        text-align: left;
        color: $white;
        &:hover{
          color: $white;
        }
      }
    }
  }

  a.display-search {
    color: $black;

    &.active {
      color: $red;
    }
  }
}
