section {
	margin: 4rem 0;

	&.slider {
		margin: 10px 0 0 0;
	}

	&.ribbon {
		margin: -1rem 0;
	}

	&.teasers {
		margin: 2rem 0;
	}

	&.quote {
	}

	&.benefits {
	}

	&.copytext {
		p {
			font-family: Helvetica, Arial, serif !important;
		}
	}
	&.category-teaser {
		margin: 0;
	}

	&.product-detail,
	&.wishlist,
	&.comparelist {
		margin-top: 0;
	}
}
