.team {
	margin-bottom: 2rem;
	&--profilepic {
		img {
			width: 100%;
		}
	}
	&--credentials {
		h3 {
			margin-bottom: 0;
			@include mq($until: $collapse-breakpoint) {
				margin-top: 0.5rem;
			}
		}
		.jobtitle {
			display: block;
			font-style: italic;
			font-weight: bold;
			margin-bottom: 0.5rem;
		}
		a {
			display: block;
		}
	}
}
